# Frontend
PUBLIC_SERVER_URL=
ORIGIN=
BODY_SIZE_LIMIT=

# PostgreSQL Database
PGHOST=
POSTGRES_DB=
POSTGRES_USER=
POSTGRES_PASSWORD=

# Django Backend
SECRET_KEY=
DJANGO_ADMIN_USERNAME=
DJANGO_ADMIN_PASSWORD=
DJANGO_ADMIN_EMAIL=
PUBLIC_URL=
CSRF_TRUSTED_ORIGINS=
DEBUG=
FRONTEND_URL=

# Registration
DISABLE_REGISTRATION=
SOCIALACCOUNT_ALLOW_SIGNUP=
