KC_HOSTNAME=
KC_HOSTNAME_PORT=
KC_HOSTNAME_STRICT_BACKCHANNEL=
KC_HOSTNAME_STRICT_HTTPS=
KC_HEALTH_ENABLED=
KC_HTTP_ENABLED=
KC_PROXY_HEADERS=
KEYCLOAK_ADMIN=
KEYCLOAK_ADMIN_PASSWORD=
KC_DB=
KC_DB_URL=
KC_DB_USERNAME=
KC_DB_PASSWORD=
