# You can find documentation for all the supported env variables at https://immich.app/docs/install/environment-variables

# The location where your uploaded files are stored
UPLOAD_LOCATION=

# To set a timezone, uncomment the next line and change Etc/UTC to a TZ identifier from this list: https://en.wikipedia.org/wiki/List_of_tz_database_time_zones#List
TZ=

# The Immich version to use. You can pin this to a specific version like "v1.71.0"
IMMICH_VERSION=

DB_URL=
IMMICH_CONFIG_FILE=

REDIS_HOSTNAME=

IMMICH_TELEMETRY_INCLUDE=
