NEXTAUTH_URL=
NEXTAUTH_SECRET=


# Docker installation database settings
POSTGRES_PASSWORD=

# Additional Optional Settings
#PAGINATION_TAKE_COUNT=
#STORAGE_FOLDER=
#AUTOSCROLL_TIMEOUT=
NEXT_PUBLIC_DISABLE_REGISTRATION=
NEXT_PUBLIC_CREDENTIALS_ENABLED=
#DISABLE_NEW_SSO_USERS=
#RE_ARCHIVE_LIMIT=
#MAX_LINKS_PER_USER=
#ARCHIVE_TAKE_COUNT=
#BROWSER_TIMEOUT=
#IGNORE_UNAUTHORIZED_CA=
#IGNORE_HTTPS_ERRORS=
#IGNORE_URL_SIZE_LIMIT=
#NEXT_PUBLIC_MAX_FILE_BUFFER=
#MONOLITH_MAX_BUFFER=
#MONOLITH_CUSTOM_OPTIONS=
#PDF_MAX_BUFFER=
#SCREENSHOT_MAX_BUFFER=
#READABILITY_MAX_BUFFER=
#PREVIEW_MAX_BUFFER=
#IMPORT_LIMIT=
#PLAYWRIGHT_LAUNCH_OPTIONS_EXECUTABLE_PATH=
#MAX_WORKERS=
#DISABLE_PRESERVATION=
#NEXT_PUBLIC_RSS_POLLING_INTERVAL_MINUTES=
#RSS_SUBSCRIPTION_LIMIT_PER_USER=

# PDF archive settings
#PDF_MARGIN_TOP=
#PDF_MARGIN_BOTTOM=

#################
# SSO Providers #
#################

# Keycloak
NEXT_PUBLIC_KEYCLOAK_ENABLED=
KEYCLOAK_CUSTOM_NAME=
KEYCLOAK_ISSUER=
KEYCLOAK_CLIENT_ID=
KEYCLOAK_CLIENT_SECRET=
