PUID=
PGID=
TZ=
OIDC_ENABLED=
OIDC_PROVIDER_METADATA_URL=
OIDC_REMOTE_USER_CLAIM=
OIDC_CLIENT_ID=
OIDC_CLIENT_SECRET=
OIDC_CLIENT_CRYPTO_KEY=
OIDC_SCOPES=
OIDC_X_FORWARDED_HEADERS=
FRESHRSS_INSTALL=
CRON_MIN=
